.form {
	width: 30vw;
}
.input {
	display: block;
	width: 100%;
	margin-bottom: 1.5rem;
	padding: 1rem;
	border-radius: 8px;
	border-style: none;
	border: 1px solid #e4e6e8;
	transition: 0.1s ease;
}

.input:hover {
	border-color: palevioletred;
}

.inputContainer {
	width: 100%;
}

.imgContainer {
	margin-bottom: 1rem;
	max-height: 12rem;
	max-width: 100%;
	overflow-y: scroll;
	text-align: center;
	/* width: 20rem; */
}

.imgStyles {
	margin-right: 1rem;
}

.submitBtn {
	margin: 0.8em;
	padding: 1em;
	border: 1px solid #e4e6e8;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.1s ease-in;
}

.submitBtn:hover {
	background-color: palevioletred;
	color: white;
}
