.modal {
	background: #fff;
	border-radius: 1.5rem;
	padding: 2rem;
	z-index: 100;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	z-index: 90;
	justify-content: center;
	align-items: center;
	background: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.closeBtn {
	position: absolute;
	right: 5rem;
	top: 2rem;
}
